<!-- welcome.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Hydration Tracker App</title>
  <!-- Add any CSS stylesheets here -->
</head>

<body>
  <h1>Welcome to The Hydration Tracker</h1>
  <ul>
    <li>GET: /api/</li>
  </ul>
</body>

</html>