@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

body {
  font-family: "monospace", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  /* border-radius: 4px; */
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  border-radius: 4px;
}

/* progress bar */
progress {
  width: 100%;
  height: 20px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

label > * {
  display: flex;
}

label > input {
  flex: 60%;
}

label > span {
  flex: 1.8;
  font-size: 16px;
  min-width: 92px;
}

input {
  border-radius: 4px;
  border: 0;
  background-color: var(--dark);
  padding: 10px;
  outline: none;
}

/* Additional styles */

#log-submit-form {
  margin: 20px auto;
}

.italic {
  font-style: italic;
}

.progress-info {
  margin-top: 2px;
  font-size: larger;
}

/* WATER */

.water-info {
  color: var(--ocean);
}

.water-icon {
  transition: 1s linear ease;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--water);
  font-size: 20px;
  cursor: pointer;
}

/* TIMER */

.time {
  font-family: clockicons, system-ui, -apple-system;
  color: var(--secondary-color);
}

.timer-input,
.timer-button {
  border-radius: 0 !important;
}

.timer-button:hover {
  color: var(--ocean);
  cursor: pointer;
}

/* USER */
.user-form {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}
